@import "tailwindcss";

*{
    font-family: 'Outfit', sans-serif;
}

@theme {
  --color-1-50: var(--color-blue-50);  /* bg-1-50 */
  --color-1-100: var(--color-blue-100);  /*  */
  --color-1-200: var(--color-blue-200);  /*  */
  --color-1-300: var(--color-blue-300);  /*  */
  --color-1-400: var(--color-blue-400);  /*  */
  --color-1-500: var(--color-blue-500);  /*  */
  --color-1-600: var(--color-blue-600);  /*  */
  --color-1-700: var(--color-blue-700);  /*  */
  --color-1-800: var(--color-blue-800);  /*  */
  --color-1-900: var(--color-blue-900);  /*  */


    --color-2-50: var(--color-sky-50);  /* bg-2-50 */
  --color-2-100: var(--color-sky-100);  /*  teal- */
  --color-2-200: var(--color-sky-200);  /*  */
  --color-2-300: var(--color-sky-300);  /*  */
  --color-2-400: var(--color-sky-400);  /*  */
  --color-2-500: var(--color-sky-500);  /*  */
  --color-2-600: var(--color-sky-600);  /*  */
  --color-2-700: var(--color-sky-700);  /*  */
  --color-2-800: var(--color-sky-800);  /*  */
  --color-2-900: var(--color-sky-900);  /*  */

  /* feed color => backgroune color */
    --color-3-50: var(--color-cyan-50);  /* bg-2-50 */
  --color-3-100: var(--color-cyan-100);  /*  cyan */
  --color-3-200: var(--color-cyan-200);  /* slate */
  --color-3-300: var(--color-cyan-300);  /*  */
  --color-3-400: var(--color-cyan-400);  /*  */
  --color-3-500: var(--color-cyan-500);  /*  */
  --color-3-600: var(--color-cyan-600);  /*  */
  --color-3-700: var(--color-cyan-700);  /*  */
  --color-3-800: var(--color-cyan-800);  /*  */
  --color-3-900: var(--color-cyan-900);  /*  */
  
}